.addButton {
  width: 234px;
  height: 74px;
  background-color: #393A39;
  border-radius: 12px; 
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.addButton:hover {
  transform: scale(0.98);
}

.icon {
  width: 47.7px;
  height: 47.7px;
}