.cancelButton {
  width: 79px;
  height: 74px;
  background-color: #FE0101;
  border-radius: 12px;
  
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease;
}

.cancelButton:hover {
  transform: scale(0.98);
}

.icon {
  width: 33px; 
  height: 33px;
}