/* src/index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* * 3. Faz o <div id="root"> (onde o React vive) 
 * ocupar a altura total da tela e ser um container flex.
 */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button:disabled {
  filter: opacity(0.8);
  cursor: not-allowed;
}