.confirmButton {
  width: 79px;
  height: 74px;
  background-color: #62CD2C;
  border-radius: 12px;
  
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease;
}

.confirmButton:hover {
  transform: scale(0.98);
}

.icon {
  width: 41.17px; 
  height: 41.17px;
}